.content {
  display: block;
  background-image: url(../../img/background-image-landspace.jpg);
  background-repeat: no-repeat;
  width: 100%;
  height: 800px;
  background-position: center -130px;
  background-size: cover;

}

.info {
  background: rgba(255, 255, 255, .7);
  color: black;
  display: block;
  position: relative;
  top: 100px;
  width: 100%;


  &__title {
    font-size: 40px;
    padding-top: 50px;
  }

  &__description {
    padding-top: 2%;
    font-size: 23px;
  }
}

.weDo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 20px;
}

.list {
  display: flex;
  top: 20px;
  gap: 40px;
  padding-top: 30px;
  text-align-last: left;
  font-size: 25px;
}

.button {
  background-image: linear-gradient(to right, #ADD18B, #D6E1DB);
  margin: 50px;
  padding: 20px;
  border-radius: 20px;
  font-size: 23px;
  border: 1px solid black;
  cursor: pointer;
}

.button:hover {
  background-color: #34500F;
  color: white;
}

@media screen and (max-width: 650px) {
  .content {
    background-position: center center;
  }

  .list {
    top: 0px;
    flex-direction: column;
    gap: 5px;
    padding-bottom: 0;
    font-size: 15px;
    text-align: left;
    padding: 10px;
    padding-top: 30px;
  }

  .list_b {
    padding-bottom: 15px;
  }
  
  .info {
    top: 0;
    height: 60%;
  }

  .info__title {
    padding-top: 60px;
    padding-left: 10px;
    font-size: 30px;
    text-align-last: left;
  }
  

  .button {
    position: relative;
    bottom: -20%;
    margin: 0;
    font-size: 20px;
  }

  .info__description {
    padding-right: 10px;
    padding-top: 60px;
    text-align: right;
  }
}

.container {
  display: flex;
  justify-content: center;
  gap: 30px;
  overflow: hidden;
  padding-bottom: 10px;
  font-size: 20px;
  flex-wrap: wrap;
}

.about_title {
  padding: 20px;
  font-size: 35px;
}

.block_img {
  width: 450px;
  height: 300px;
  object-fit: cover;
  object-position: right center;
}

.description {
  width: 450px;
  padding-top: 20px;
}

@media screen and (max-width: 1480px) {
  .list {
    font-size: 20px;
  }

  .quiz_block_img {
    width: 150px;
    height: 100px;
  }
}

// quiz

.quiz_container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.quiz {
  z-index: 20;
  position: absolute;
  display: flex;
  justify-content: center;
  padding-top: 50px;
  top: 100px;
  width: 180vh;
  height: 83vh;
  background-color: #AFD28F;

  &__title {
    // padding-top: 100px;
    font-size: 35px;
    // padding: 50px;
  }

  &__question {
    font-size: 27px;
    padding: 25px;
  }

  &__button {
    text-align: center;
    margin: 40px;
    padding: 15px;
    width: 170px;
    border-radius: 20px;
    font-size: 20px;
    cursor: pointer;

    &:hover {
      background-color: #888E9C;
    }
  }

  &__contact {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
  }
}

.closer {
  scale: 2;
  position: relative;
  top: 35vh;
  left: 1130px;
  cursor: pointer;

  &:hover {
    background-color: white;
  }
}


.quiz_block_img {
  display: block;
  width: 450px;
  height: 300px;
  object-fit: cover;
  object-position: right center;
  padding-top: 20px;
}

.hiden {
  visibility: hidden;
}

.answers {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 100px;
  font-size: 25px;
}

.block {
  flex-direction: column;
  gap: 20px;
}

.quiz_input {
  height: 70px;
  width: 300px;
  border-radius: 20px;
  font-size: 20px;
  text-align: center;
}



.btn {
  margin: 50px;
  border: none;
  padding: 1.4vw;
  -webkit-box-shadow: 0 1rem 2rem #ffc316, inset 0 -4px 0 #cd8f38;
  box-shadow: 0 0rem 2rem #eab016, inset 0 -4px 0 #cd8f38;
  background-color: #ffd04c;
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 82, 35, 0)), to(#ffc117));
  background-image: -webkit-linear-gradient(top, rgba(255, 82, 35, 0) 0%, #eab016 100%);
  background-image: -o-linear-gradient(top, rgba(255, 82, 35, 0) 0%, #eab016 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 82, 35, 0)), to(#eab016));
  background-image: linear-gradient(to bottom, rgba(255, 82, 35, 0) 0%, #eab016 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #212121;
  border-radius: 10px;
  cursor: pointer;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  text-decoration: none;
  position: relative;
  overflow: hidden;
  text-shadow: 1px 2px 5px rgba(255, 255, 255, 0.65);
  font-size: 0.9375vw;
  font-weight: 700;
  text-transform: uppercase;
  background-image: linear-gradient(to bottom, rgba(255, 82, 35, 0) 0%, #2eb3b1 100%);
  box-shadow: 0 0rem 2rem #16eadd, inset 0 -4px 0 #2b9593;
  background-color: #60c7d5;
}

.btn-main {
  width: 22rem;
  padding: 1.7rem;
}

@keyframes slideme {
  0% {
    left: -30px;
    margin-left: 0;
  }

  30% {
    left: 110%;
    margin-left: 80px;
  }

  100% {
    left: 111%;
    margin-left: 84px;
  }
}

.btn:after {
  margin-left: -30px;
  content: " ";
  width: 30px;
  height: 300px;
  background: #fff;
  -webkit-animation-delay: 0.05s;
  animation-delay: 0.05s;
  position: absolute;
  left: -90px;
  top: -150px;
  top-animation-timing-function: ease-in-out;
  -webkit-transition: all 0.1s;
  -o-transition: all 0.1s;
  transition: all 0.1s;
  -webkit-animation-name: slideme;
  animation-name: slideme;
  -webkit-animation-duration: 3.5s;
  animation-duration: 3.5s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.button_container {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 650px) {
  // .info {
  //   padding-top: 20%;
  // }
  .quiz {
    padding: 10px;
    width: 100%;
    height: 90vh;

    &__title {
      padding-top: 0;
      font-size: 25px;
    }

    &__question {
      padding: 7px;
      font-size: 25px;
    }

    &__contact {
      gap: 20px;
    }

    &__button {
      margin: 0;
    }
  }

  .button20 {
    margin: 20px;
  }

  .quiz_block_img {
    width: 250px;
    height: 150px;
    padding: 0;
  }

  .answers {
    gap: 5px;
    flex-direction: column;
    font-size: 20px;
  }

  .gap20 {
    gap: 20px;
  }

  .top-20 {
    top: 40px;
  }

  .padding20 {
    padding: 20px;
    top: 40px;
  }

  .quiz_top-20 {
    top: 60px;
  }

  .btn {
    font-size: 18px;
  }
}