.content {
  display: block;
  background-image: url(../../img/background-image-landspace.jpg);
  background-repeat: no-repeat;
  width: 100%;
  height: 800px;
  background-size: cover;

}

.info {
  background: rgba(255, 255, 255, .7);
  color: black;
  display: block;
  position: relative;
  top: 100px;
  width: 100%;


  &__title {
    font-size: 40px;
    padding-top: 50px;
  }

  &__description {
    padding-top: 2%;
    font-size: 23px;
  }
}

.weDo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 20px;
}

.list {
  display: flex;
  top: 20px;
  gap: 40px;
  padding-top: 30px;
  text-align-last: left;
  font-size: 25px;
}

.button {
  background-image: linear-gradient(to right, #ADD18B, #D6E1DB);
  margin: 50px;
  padding: 20px;
  border-radius: 20px;
  font-size: 23px;
  border: 1px solid black;
  cursor: pointer;
}

.button:hover {
  background-color: #34500F;
  color: white;
}

@media screen and (max-width: 650px) {
  .content {
    background-position: center center;
  }

  .list {
    top: 0px;
    flex-direction: column;
    gap: 5px;
    padding-bottom: 0;
    font-size: 15px;
    text-align: left;
    padding: 10px;
    padding-top: 30px;
  }

  .list_b {
    padding-bottom: 15px;
  }
  
  .info {
    top: 0;
    height: 60%;
  }

  .info__title {
    padding-top: 60px;
    padding-left: 10px;
    font-size: 30px;
    text-align-last: left;
  }
  

  .button {
    position: relative;
    bottom: -20%;
    margin: 0;
    font-size: 20px;
  }

  .info__description {
    padding-right: 10px;
    padding-top: 60px;
    text-align: right;
  }
}

.container {
  display: flex;
  justify-content: center;
  gap: 30px;
  overflow: hidden;
  padding-bottom: 10px;
  font-size: 20px;
  flex-wrap: wrap;
}

.about_title {
  padding: 20px;
  font-size: 35px;
}

.block_img {
  width: 450px;
  height: 300px;
  object-fit: cover;
  object-position: right center;
}

.description {
  width: 450px;
  padding-top: 20px;
}

@media screen and (max-width: 1480px) {
  .list {
    font-size: 20px;
  }

  .quiz_block_img {
    width: 150px;
    height: 100px;
  }
}

// quiz

.quiz_container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.quiz {
  z-index: 20;
  position: absolute;
  display: flex;
  justify-content: center;
  padding-top: 50px;
  top: 100px;
  width: 180vh;
  height: 83vh;
  background-color: #AFD28F;

  &__title {
    // padding-top: 100px;
    font-size: 35px;
    // padding: 50px;
  }

  &__question {
    font-size: 27px;
    padding: 25px;
  }

  &__button {
    text-align: center;
    margin: 40px;
    padding: 15px;
    width: 170px;
    border-radius: 20px;
    font-size: 20px;
    cursor: pointer;

    &:hover {
      background-color: #888E9C;
    }
  }

  &__contact {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
  }
}

.closer {
  scale: 2;
  position: relative;
  top: 35vh;
  left: 1130px;
  cursor: pointer;

  &:hover {
    background-color: white;
  }
}


.quiz_block_img {
  display: block;
  width: 450px;
  height: 300px;
  object-fit: cover;
  object-position: right center;
  padding-top: 20px;
}

.hiden {
  visibility: hidden;
}

.answers {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 100px;
  font-size: 25px;
}

.block {
  flex-direction: column;
  gap: 20px;
}

.quiz_input {
  height: 70px;
  width: 300px;
  border-radius: 20px;
  font-size: 20px;
  text-align: center;
}

@media screen and (max-width: 650px) {
  // .info {
  //   padding-top: 20%;
  // }
  .quiz {
    padding: 10px;
    width: 100%;
    height: 90vh;

    &__title {
      padding-top: 0;
      font-size: 25px;
    }

    &__question {
      padding: 7px;
      font-size: 25px;
    }

    &__contact {
      gap: 20px;
    }

    &__button {
      margin: 0;
    }
  }

  .button20 {
    margin: 20px;
  }

  .quiz_block_img {
    width: 250px;
    height: 150px;
    padding: 0;
  }

  .answers {
    gap: 5px;
    flex-direction: column;
    font-size: 20px;
  }

  .gap20 {
    gap: 20px;
  }

  .top-20 {
    top: 40px;
  }

  .padding20 {
    padding: 20px;
    top: 40px;
  }

  .quiz_top-20 {
    top: 60px;
  }
}