.about {
  scroll-margin-top: 1em;
}
.about_container {

  display: flex;
  justify-content: center;
  gap: 30px;
  // padding: 30px;
  overflow: hidden;
  padding: 30px;
  font-size: 20px;
  flex-wrap: wrap;
}

.about_title {

  padding: 20px;
  font-size: 35px;
  border-bottom: 3px solid #838383;

}

.block_img {
  width: 450px;
  height: 300px;
  object-fit: cover;
  object-position: right center;
}

.position1 {
  object-position: center -55px;
}

.description_block {
  column-count: 3;
  padding: 20px;
  font-size: 20px;
}

.about_description {
  padding-top: 20px;
}

// .about_company {
//   border-top: 3px solid #B6B6B6;
//   background-color: #D6E1DB;
//   padding-bottom: 30px;
//   padding-top: 10px;
//   font-size: 20px;
// }

@media screen and (max-width: 650px) {
  .container {
    padding: 0;
  }

  .description_block {
    column-count: 1;
  }
}