.footer {
  &_container {
    background-color: #F4F4F4;
  }
}

.network {
  display: flex;
  grid-template: 20px;
  align-items: center;
  justify-content: center;
  gap: 30px;
  padding: 50px;
  text-decoration: none;
  color: black;
}

.copyriting {
  background-color: #F4F4F4;
  padding-bottom: 50px;
}

.link {color:black;}
.link:visited {color:black;}
.link:hover {color:yellowgreen;}
.link:active {color:green;}