* {
  padding: 0;
  margin: 0;
  font-family: 'MuseoModerno', cursive;
  box-sizing: border-box;
  border: none;
  outline: none;
  text-decoration: none;
  font-family: 'MuseoModerno', cursive;
  list-style-type: none;
}

.body {
  width: 100%;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
}

.pages {
  text-align: center;
  justify-content: center;
}
